# Data engineer project

## 0. Libraries

In [1]:
import pandas as pd
import psycopg2

## 1. Functions

In [2]:
def create_db():
    """
        This function create a database a setup a connection.
        
        Returns:
            conn: psycopg2 connection object
            cur: cursor
    """
    # connect to default database
    # example: conn = psycopg2.connect("host=localhost dbname=bd user=ljpcastroc password=password")
    conn = psycopg2.connect("host=localhost dbname=dmodeldb user=ljpcastroc password=password")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
    cur.execute("DROP   DATABASE accounts")
    cur.execute("CREATE DATABASE accounts")
    # close connection to default database
    conn. close()
    conn = psycopg2.connect("host=localhost dbname=accounts user=ljpcastroc password=password")
    # we'll disable this option
    #conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    return cur, conn

In [3]:
def drop_tables(cur, conn):
    """
        drop table with a query
        
        return: nothing
    """
    for query in drop_table_queries:
        cur.execute(query)
        cur.commit()

## 2. Data exploration